root { 
    display: block;
}
.root {
	-fx-background-color: #c31618;
}
.label {
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
}
.button {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: #940a0b;
}