#recordDetails {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Monospaced";
}
#recordDetails *.content {
    -fx-background-color: #ffffff;
}